.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.portfolioImg{
  height: 40vmin;
}

.CoName {
  font-family: 'beauty';
  font-size: 90px;
  color: black;
  -webkit-text-stroke: 1px #FABB2D;
}
.CoName2 {
  font-family: 'beauty';
  font-size: 90px;
  color: black;
  -webkit-text-stroke: 1px #FABB2D;
}
.CoName3 {
  font-family: 'beauty';
  font-size: 90px;
  color: black;
  -webkit-text-stroke: 1px #FABB2D;
}
@font-face {
  font-family: 'beauty';
  src: local('beauty'), url(./FONTS/beauty.woff) format('woff');
}

.CompanyInfo p {
  font-family: 'beauty';
  font-size: 25px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
